<div class="container">
  <h1>Welcome to plan preview!</h1>
  <p><%=@city%></p>
  <ul><% @projects.each do |project|%>
     <!--  <% @plans.each do |plan|%> -->
      <li><%=project %><br>

     <!-- 	<%= plan.attributes['href'].value%><br><%= plan.children%></li> -->
  <!--     <%end%>  -->
    <%end%>
  </table>
</div>
