<div class="container">
	<table>
  	<h1>Welcome to plan preview!</h1>
      <ul><% @project.each do |prj|%>
        <li><%= prj.owner%><br>
            <%= prj.project_name%><br>
  				  <%= prj.classification%><br>
            <a href=<%= prj.url %> target="_blank">For more info click here</a><br><br></li>
        <%end%> </ul>
  </table>
</div>
